/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/adminer-4.8.0.php
/.env.my
/.env.stage
/.idea/.gitignore
/.idea/commandlinetools/Laravel_2_24_21__1_06_PM.xml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/modules.xml
/.idea/new.wingifts.net.iml
/.idea/php-test-framework.xml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC0xMjEyNzUzNDlfNjk3MDUxNjMwOTQwMzAzXzcyNDg2Mjg3MDcxNjg2NDQwMzVfbi5qcGc1614977506.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC10dWZhNzc3LmpwZw1614977508.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC1hbGNoYV9sLmpwZw1614977507.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC1tYXhfdmFzaGNoZW5rby5qcGc1614977507.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC1tcy5tZXhpa2EuanBn1614977507.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC1tdXJhZ2kuanBn1614977507.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC1uaWtfdHJhaGVyLmpwZw1614977507.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC1ydXNpa2RpZC5qcGc1614977508.png
/public/uploads/.tmb/l1_dGh1bWItODE2eDQ2MC1zaGVycmEuYS5qcGc1614977508.png
