// FOOTER START
footer {
	margin-top: 100px;
	background: #373F4F;
	
	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 65px 0 70px 0;
		color: #FFFFFF;
		
		> div {
			width: 33.3%;
		}
		&__main {
			
			&_payments {
				&-title {
					margin-bottom: 14px;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					opacity: 0.5;
				}
			}
			&_contacts {
				padding: 35px 0 25px 0;
				
				&-title {
					margin-bottom: 14px;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					opacity: 0.5;
				}
				&-mail {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					font-weight: 500;
					font-size: 22px;
					line-height: 26px;
					
					img {
						margin-right: 10px;
					}
				}
			}
			&_info {
				border-top: 1px solid #C4C4C4;
				padding-top: 17px;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #FFFFFF;
				a {
					color: #FFFFFF;
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
				.space{
					margin-right: 14px;
				}
				&-rights {
				opacity: 0.5;
					margin-top: 15px;
				}
			}
		}
		&__logo {
			font-weight: bold;
			font-size: 22px;
			line-height: 100%;
			text-align: center;
			
			img {
				height: 87px;
				width: 67px;
			}
		}
		&__sale {
			text-align: right;
			&_title {
				font-weight: bold;
				font-size: 22px;
				line-height: 100%;	
			}
			&_desc {
				margin: 10px 0 17px 0;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: -0.04em;
				color: #FFFFFF;
				opacity: 0.7;
			}
		}
	}
}
// FOOTER END
@media screen and (max-width: 1025px) {
	// FOOTER START
	footer {
		.footer {
			position: relative;
			padding: 65px 0 100px 0;
			
			> div {
				&:first-child {
					width: 60%;
				}
				&:last-child {
					width: 40%;
				}
			}
			&__main {
				&_info {
					position: absolute;
				    width: calc(100% - 100px);
				    text-align: center;
				}
			}
			&__logo {
				display: none;
			}
			&__sale {
				&_title {
					margin-top: -30px;	
				}
			}
		}
	}
	// FOOTER END	
}
@media screen and (max-width: 533px) {
	// FOOTER START
	footer {
		.footer {
			flex-direction: column;
			padding: 65px 0 160px 0;
			text-align: center;
			
			> div {
				width: 100% !important;
			}
			&__main {
				margin-top: 30px;
				order: 2;
				&_info {
					width: 100%;
					bottom: 20px;
				}
			}
			&__logo {
				order: 1;
				display: block;
			}
			&__sale {
				margin-top: 40px;
				order: 3;
				text-align: center;
				&_title {
					margin-top: 0;	
				}
			}
		}
	}
	// FOOTER END	
}